[submodule "lab-1-photography-website-MayDevelops"]
	path = lab-1-photography-website-MayDevelops
	url = https://github.com/BYU-CS-260-Spring-2021/lab-1-photography-website-MayDevelops.git
[submodule "JavaScript-Playground/debugging-javascript"]
	path = JavaScript-Playground/debugging-javascript
	url = https://github.com/BYU-CS-260/debugging-javascript.git
[submodule "lab-2-weather-app-MayDevelops"]
	path = lab-2-weather-app-MayDevelops
	url = https://github.com/BYU-CS-260-Spring-2021/lab-2-weather-app-MayDevelops.git
[submodule "learning-vue"]
	path = learning-vue
	url = https://github.com/BYU-CS-260/learning-vue.git
[submodule "vue-todo"]
	path = vue-todo
	url = https://github.com/BYU-CS-260/vue-todo.git
