* {
    margin: 0;
    padding: 0;
}

.buttonWrapper {
    position: relative;
    border: 3px solid greenyellow;
    margin-top: 10px;
}

.comicWrapper {
    position: relative;
    border: 5px solid black;
    margin-top: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
    height: 400px;
    text-align: center;
}

span {
    display: flex;
    margin-top: 10px;
    border: 1px solid blue;
}

.verticalSpacer {
    height: 10px;
    background: grey;
}
