body {
    color: firebrick;
    background-color: blanchedalmond;
    font-style: 20px;
}

h1 {
    background-color: blueviolet;
    font-size: 2em;
}

h2 {
    background-color: chartreuse;
    font-size: 1.5em;
}

ol, ul {
    font-size: 1em;
    list-style-type: circle;
}
