* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #212121;
  background-color: #f8f3d4;
  font-style: 20px;
}

h1 {
  background-color: #00b8a9;
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
  border: 1.5px solid black;
  border-radius: 10px;
}

h2 {
  background-color: #00b8a9;
  text-align: left;
  margin-right: 60%;
  border: 1.5px solid black;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

em,
strong {
  background-color: hotpink;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.nameHeading {
  background-color: #00b8a9;
  text-align: center;
  font-size: 2em;
  margin-left: 20%;
  margin-right: 20%;
  border: 1.5px solid black;
  border-bottom: none;
  border-radius: 10px;
  padding: 5px;
}

.mayDevelopsHeading {
  background-color: #00b8a9;
  text-align: center;
  font-size: 3em;

  margin-left: 20%;
  margin-right: 20%;
  border: 1.5px solid black;
  border-top: none;
  border-radius: 10px;
  padding: 5px;
}

.active {
  background-color: #f6416c;
}

.menuContainer {
background-color: #363636;
padding: 10px 0;
display: flex;
justify-content: center;
margin-top: 10px;
}

.menu {
  border: 2.5px solid #ff165d;
  border-radius: 10px;
  width: 900px;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 5px 20px 5px 20px;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.tracker {
  margin-left: 20px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
  .sign-up,
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 50%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #f8f3d4;
  }
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 33.3%;
  }
  .header {
    height: 100px;
  }
  .sign-up {
    height: 50px;
    order: 1;
  }
  .content {
    order: 2;
  }


}
.sectionMenu {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header {
  background-color: #B2D6FF;
  margin-top: 20px;
}

.content {
  background-color: #EAEDF0;
  height: 100px;
}

.sign-up {
  background-color: #D6E9FE;
}

.feature-1 {
  background-color: #F5CF8E;
}

.feature-2 {
  background-color: #F09A9D;
}

.feature-3 {
  background-color: #C8C6FA;
}